process{
    executor = 'sge'
    cpus =  2
    penv = 'threaded'
    clusterOptions = '-S /bin/bash'
}

params{
    WindowSizes = [1000]
    sampleListF = "/nfs/projects/CNV_WGS/GATK_gCNV/RCs/schizo_HFM_1kb/WGS_BAM_File/Ctrl_Female_bam_file_path.list"
    sampleListM = "/nfs/projects/CNV_WGS/GATK_gCNV/RCs/schizo_HFM_1kb/WGS_BAM_File/Ctrl_Male_bam_file_path.list"
    DICT = "/nfs/projects/CNV_WGS/GATK_gCNV/reference/human_hs37d5_23CHROM.dict"
    BlackList = "/nfs/projects/CNV_WGS/GATK_gCNV/reference/hg19-blacklist_centromere_ENCODE_PAR.bed"
    reference = "/nfs/seqscratch09/AZ-IPF/reference/hs37d5.fa"
    GATK = "/nfs/goldstein/software/gatk-4.1.8.1/gatk-package-4.1.8.1-local.jar"
    OUTDIR = "/nfs/projects/CNV_WGS/GATK_gCNV/RCs/schizo_HFM_1kb"
}
