process{
    executor = 'sge'
    cpus =  2
    penv = 'threaded'
    clusterOptions = '-S /bin/bash'
}

params{
    WindowSizes = [1000]
    sampleList = '/nfs/external/az-ipf-garcia/CNVanalysis/WGS_BAM_File/Male_bam_file_path.listab'
    gender = "F"
    reference = "/nfs/seqscratch09/AZ-IPF/reference/hs37d5.fa"
    Interval300bp = "/nfs/projects/CNV_WGS/GATK_gCNV/RCs/schizo_HFM_300bp/Interval_list/hs37d5.preprocessed_300bp.interval_list"
    Interval_1kb = "/nfs/projects/CNV_WGS/GATK_gCNV/RCs/schizo_HFM_1kb/Interval_List/hs37d5.preprocessed.1000bp.interval_list"
    Annotated_1kb = "/nfs/projects/CNV_WGS/GATK_gCNV/RCs/schizo_HFM_1kb/Interval_List/hs37d5.annotated.1000bp.interval_list"
    GATK = "/nfs/goldstein/software/gatk-4.1.8.1/gatk-package-4.1.8.1-local.jar"
}
