process{
    executor = 'sge'
    cpus =  2
    penv = 'threaded'
    clusterOptions = '-S /bin/bash'
}

params{
    WindowSizes = [1000]
    sampleList = '/nfs/external/az-ipf-garcia/CNVanalysis_shortTLwoQV/WGS_BAM_File/Female_bam_file_path.list'
    gender = "F"
    chromosomes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 , 22, 'X', 'Y']
    reference = "/nfs/seqscratch09/AZ-IPF/reference/hs37d5.fa"
    Interval300bp = "/nfs/projects/CNV_WGS/GATK_gCNV/RCs/schizo_HFM_300bp/Interval_list/hs37d5.preprocessed_300bp.interval_list"
    Interval_1kb = "/nfs/projects/CNV_WGS/GATK_gCNV/RCs/schizo_HFM_1kb/hs37d5.preprocessed.1000bp.primary_contigs.interval_list"
    outdir = "/nfs/external/az-ipf-garcia/CNVanalysis_shortTLwoQV"
    GATK = "/nfs/goldstein/software/gatk-4.1.8.1/gatk-package-4.1.8.1-local.jar"
}